<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
</head>

<body>
  <!-- <div id="counterApp">
    Counter: {{total}}
    <button v-on:click="increaseCounter">++</button>
    <button @click=decreaseCounter>--</button>
  </div> -->
  <!-- <h1>hello world</h1> -->
  <div id="app">
    Username: {{ username }} <br /><br />
    <!-- Is logged in? {{ isLoggedIn }}<br /><br /> -->
    Is logged in? {{ isLoggedIn2() }}<br /><br />
    <input type="text" v-model="username">
    <!-- <input type="text" v-model="username">
    <input type="text" :value="username" @input="changeUsername">
    <input type="text" v-bind:value="username">
    <input type="text" v-bind:value="username"> -->
    <!-- <input type="text" v-model="usernameModel"> -->
  </div>
  <script src="./node_modules/vue/dist/vue.global.js"></script>
  <!-- <script>
    const CounterApp = {
      data() {
        return {
          total: 0
        }
      },
      methods: {
        increaseCounter() {
          this.total++
        },
        decreaseCounter() {
          this.total--
        }
      }
    }
    Vue.createApp(CounterApp).mount('#counterApp')
  </script> -->
  <script>
    const App = {
      data() {
        return {
          username: ''
        };
      },
      // methods: {
      //   changeUsername(event) {
      //     console.log(event.target.value);
      //   }
      // },
      // computed: {
      //   usernameModel: {
      //     get() {
      //       return this.username.toUpperCase();
      //     },
      //     set(value) {
      //       this.username = value;
      //     }
      //   }
      // }
      // computed: {
      //   isLoggedIn() {
      //     return this.username === 'tudor1';
      //   }
      // },
      // with methods u can pass params
      methods: {
        isLoggedIn2() {
        return this.username === 'afg';
        }
      }
    }
    Vue.createApp(App).mount('#app')
  </script>
</body>

</html>